[defaults]
remote_tmp      = /home/bob/.ansible_tmp
local_tmp       = /tmp/.ansible_local_tmp
transfer_method = sftp
scp_if_ssh      = False

[ssh_connection]
scp_if_ssh      = False
transfer_method = sftp
control_path    = none
ssh_args        = -o ControlMaster=no -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null