[Unit]
Description=Run Legitimate SSH Connection every 10 minutes

[Timer]
OnBootSec=60
OnUnitActiveSec=600
Unit=legit_ssh.service

[Install]
WantedBy=timers.target
